.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
  background-color: whitesmoke;
  padding: 10px 0;
}

a {
  color: inherit;
  width: 10%;
  text-decoration: none;
}
