<div>
  <div>
    <h3>Your order</h3>
    <table>
      <tr *ngIf="orderList.length!==0">
        <th>Name</th>
        <th>Price</th>
      </tr>
      <tr *ngFor="let product of orderList">
        <td>{{product.name}}</td>
        <td>{{product.price}}&euro;</td>
      </tr>
      <tr *ngIf="orderList.length===0">
        <td colspan="2">No products selected</td>
      </tr>
      <tr *ngIf="orderList.length!==0">
        <td>Total</td>
        <td>{{sum}}&euro;</td>
      </tr>
    </table>
    <button (click)="addAddress()">Add recipent address</button>
  </div>
  <router-outlet></router-outlet>
</div>